<IfModule mod_rewrite.c>
	RewriteEngine on
	
    # forbid access to files
    RewriteRule ^.*/?files/ - [F,L]

    # pretty token urls
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ down.php?token=$1 [L,QSA]
</IfModule>
<IfModule mod_xsendfile.c>
    XSendFile On
</IfModule>
